@model PaginatedList<Post>

@{
    ViewData["Title"] = "Головна";
}

<form asp-action="Index" method="get" class="mb-3">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="searchTerm" placeholder="Пошук за контентом" value="@Context.Request.Query["searchTerm"]">
        </div>
        <div class="col-auto">
            <input type="date" class="form-control" name="fromDate" placeholder="Дата від"
                   value="@Context.Request.Query["fromDate"]" title="Дата (від)">
        </div>
        <div class="col-auto">
            <input type="date" class="form-control" name="toDate" placeholder="Дата до"
                   value="@Context.Request.Query["toDate"]" title="Дата (до)">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Шукати</button>
        </div>
    </div>
</form>

@foreach (var post in Model)
{
    <div class="item-box mb-3">

        <div class="row">
            @if (!string.IsNullOrEmpty(post.ImagePath))
            {
                <div class="col-sm-12 col-md-4 col-lg-3 d-flex align-items-center">
                    <img src="@Url.Content("~/uploads/" + post.ImagePath)">
                </div>
            }
            <div class="col-sm-12
                @if (!string.IsNullOrEmpty(post.ImagePath)) {
                    <text>col-md-8 col-lg-9</text>
                } d-flex align-items-center">
                <div class="pl-2">
                    <div class="row">
                        <div class="col">
                            <h4>
                                @Html.DisplayFor(modelItem => post.CreatedAt)
                            </h4>
                        </div>
                        @if (post.CanEditAndDelete)
                        {
                            <div class="col-auto">
                                <div class="text-end">
                                    <a asp-controller="Posts" asp-action="Edit" class="btn" asp-route-id="@post.Id">Редагувати</a>
                                    <a asp-controller="Posts" asp-action="Delete" class="btn" asp-route-id="@post.Id">Видалити</a>
                                </div>
                            </div>
                        }
                    </div>
                    @Html.DisplayFor(modelItem => post.Content)
                </div>
            </div>
        </div>
	</div>
}

@if (!Model.Any())
{
    if (!string.IsNullOrEmpty(Context.Request.QueryString.Value))
    {
        <p>Нема постів за таким запитом.</p>
    }
    else
    {
        <p>Ще нема постів.</p>
    }
}


<div class="pagination">
    @Html.Raw(ViewBag.PaginationString)
</div>